APP_NAME=Kilang CCTV
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-domain

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kilang_cctv
DB_USERNAME=kilang
DB_PASSWORD=strong_password

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="your@gmail.com"
MAIL_FROM_NAME="KILANG PERTAMINA INTERNASIONAL"

FILESYSTEM_DISK=public
HLS_OUTPUT_PATH=public/live

# Echo / Broadcasting
PUSHER_APP_ID=local
PUSHER_APP_KEY=localkey
PUSHER_APP_SECRET=localsecret
PUSHER_HOST=127.0.0.1
PUSHER_PORT=6001
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=mt1